jonathanpr/eclipes/CardiffOxfordDataTransfer/schema.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="carfile" type="carfileType"/>

<xsd:complexType name="carfileType">
    <xsd:sequence>
        <xsd:element name="section" type="sectiontype"  minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="outputid" type="xsd:string" use="required"/>
    <xsd:attribute name="timeFileGenerated" type="xsd:dateTime" use="required"/>
    <xsd:attribute name="numSections" type="xsd:positiveInteger" use="required"/>
    <xsd:attribute name="type" type="xsd:string" use="required"/>
    <xsd:attribute name="fname" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="sectiontype">
	<xsd:sequence>
	    <xsd:element name="qidresp" minOccurs="1" maxOccurs="unbounded"/>
 	</xsd:sequence>
      	<xsd:attribute name="partid" type="xsd:positiveInteger" use="required"/>
      	<xsd:attribute name="sessionid" type="xsd:positiveInteger" use="required"/>
       	<xsd:attribute name="sectionid" type="xsd:integer" use="required"/>	  
      	<xsd:attribute name="dateCompleted" type="xsd:dateTime" use="required"/>
      	<xsd:attribute name="checkMD5" type="xsd:string" use="required"/>
</xsd:complexType>
</xsd:schema> 
